.vagas-titulo {
    font-size: 20px;
    font-weight: 500;
    margin: 3.2em 0 1.6em 0px;
    margin-left: 29vw;
}

.design {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.design-vagas {
    display: grid;
    border: var(--borda-principal);
    border-radius: 1em;
    grid-template-rows: 50% 50%;
    justify-content: start;
    margin: .62em 0;
    padding: 1.5em 0 1.2em 1.5em;
    width: 40%;
}

.design-vagas__titulo {
    grid-column: span 2;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.78em;
}

.design-vagas__texto {
    color: var(--cor-cinza-claro);
    font-weight: 500;
    margin: 1em 1.5em 0 0;
}