@import url(navegacao.css);
@import url(sobre.css);
@import url(metricas.css);
@import url(vagas.css);
@import url(design-desenvolvidor.css);
@import url(depoimentos.css);

:root {
    /*cores*/
    --cor-cinza-escuro: #3A404E;
    --cor-cinza-claro: #667085;
    --cor-vinho: #8E2424;
    --cor-vinho-escuro:#6e1616;
    --cor-vinho-claro: #8e24240d;
    --cor-branco-geral: #FFFFFF;
    --cor-preto: #101828;

    /*fontes*/
    --fonte-principal: 'Inter', sans-serif;

    /*bordas*/
    --borda-principal: 1px solid #EAECF0;
}

body {
    color: var(--cor-preto);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}