.metricas-container {
    display: flex;
    justify-content: center;
}

.metricas {
    margin: 0 24px;
    width: 16%;
}

.metricas__titulo {
    color: var(--cor-vinho);
    font-size: 60px;
    font-weight: 600;
}

.metricas__texto-destaque {
    color: var(--cor-preto);
    font-size: 18px;
    font-weight: 500;
    margin: 24px 0 16px 0;
}

.metricas__texto {
    color: var(--cor-cinza-claro);
    line-height: 24px;
}