.metricas-container {
    display: flex;
    justify-content: center;
}

.metricas {
    margin: 0 1.5em;
    width: 17%;
}

.metricas__titulo {
    color: var(--cor-vinho);
    font-size: 60px;
    font-weight: 600;
}

.metricas__texto-destaque {
    font-size: 18px;
    font-weight: 500;
    margin: 1.5em 0 1em 0;
}

.metricas__texto {
    color: var(--cor-cinza-claro);
    line-height: 1.5em;
}