.navegacao {
    align-items: center;
    display: flex;
    padding: 28px 0;
    justify-content: space-around;
}

.navegacao__logo {
    align-items: center;
    display: flex;
}

.navegacao__logo--titulo {
    color: var(--cor-cinza-escuro);
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
}

.navegacao__link {
    color: var(--cor-cinza-claro);
    font-weight: 500;
    margin: 0 16px;
    text-decoration: none;
}

.navegacao__botao--link {
    background-color: var(--cor-vinho);
    border-radius: 8px;
    color: var(--cor-branco-geral);
    margin: 0 8px;
    padding: 10px 18px;
    text-decoration: none;
}