.navegacao {
    align-items: center;
    display: flex;
    padding: 28px 0;
    justify-content: space-around;
}

.navegacao__logo {
    transition: all 1s;
}

.navegacao__logo:hover {
    transform: scale(1.1);
}

.navegacao__link {
    color: var(--cor-cinza-claro);
    font-weight: 500;
    margin: 0 16px;
    text-decoration: none;
}

.navegacao__botao--link {
    background-color: var(--cor-vinho);
    border-radius: 8px;
    color: var(--cor-branco-geral);
    margin: 0 8px;
    padding: 10px 18px;
    text-decoration: none;
}

.navegacao__botao--link:hover {
    background-color: var(--cor-vinho-escuro);
}